In [121]:
# Import Libraries
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import time
import random

### Get Data from Kaggle

In [122]:
# !mkdir ~/.kaggle
# !cp kaggle.json ~/.kaggle/
# !chmod 600 ~/.kaggle/kaggle.json

In [123]:
# !kaggle datasets download -d jeffgallini/college-football-team-stats-2019 --unzip

### Import Kaggle Data into Notebook

In [124]:
# df = pd.read_csv('./cfb23.csv')
# df

### Webscrape Game Data

In [125]:
# Create a list of seasons 2014-2023
seasons = list(range(2014, 2025))
seasons

[2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]

In [126]:
# Create an empty list to store DataFrames for each season
dfs_per_season = []

# Iterate through seasons
for season in seasons:
    # Set URL
    url =  f'https://www.sports-reference.com/cfb/years/{season}-schedule.html'
    print(url)

    # Get game results ('id': 'schedule' is an HTML attribute on the website)
    results_df = pd.read_html(url, header=1, attrs={'id': 'schedule'})[0]

    # Append the dataframe to the list
    dfs_per_season.append(results_df)

    # Pause the program so don't get flagged by website
    time.sleep(random.randint(4,5))

dfs_per_season

https://www.sports-reference.com/cfb/years/2014-schedule.html
https://www.sports-reference.com/cfb/years/2015-schedule.html
https://www.sports-reference.com/cfb/years/2016-schedule.html
https://www.sports-reference.com/cfb/years/2017-schedule.html
https://www.sports-reference.com/cfb/years/2018-schedule.html
https://www.sports-reference.com/cfb/years/2019-schedule.html
https://www.sports-reference.com/cfb/years/2020-schedule.html
https://www.sports-reference.com/cfb/years/2021-schedule.html
https://www.sports-reference.com/cfb/years/2022-schedule.html
https://www.sports-reference.com/cfb/years/2023-schedule.html
https://www.sports-reference.com/cfb/years/2024-schedule.html

[       1 1.1  Aug 27, 2014   7:00 PM  Wed       Georgia State   38 Unnamed: 7  \
 0      2   1  Aug 28, 2014   7:00 PM  Thu               Akron   41        NaN
 1      3   1  Aug 28, 2014  10:30 PM  Thu  (19) Arizona State   45        NaN
 2      4   1  Aug 28, 2014   7:00 PM  Thu    Central Michigan   20        NaN
 3      5   1  Aug 28, 2014   7:02 PM  Thu    Louisiana-Monroe   17        NaN
 4      6   1  Aug 28, 2014   7:00 PM  Thu           Minnesota   42        NaN
 ..   ...  ..           ...       ...  ...                 ...  ...        ...
 882  865  20   Jan 2, 2015   6:45 PM  Fri           (14) UCLA   40          N
 883  866  20   Jan 3, 2015  12:00 PM  Sat             Florida   28          N
 884  867  20   Jan 4, 2015   9:00 PM  Sun              Toledo   63          N
 885   Rk  Wk          Date      Time  Day              Winner  Pts        NaN
 886  868  21  Jan 12, 2015   8:30 PM  Mon      (5) Ohio State   42          N

      Abilene Christian   37                                        Unnamed: 10
 0               Howard    0                                                NaN
 1          Weber State   14                                                NaN
 2          Chattanooga   16                                                NaN
 3          Wake Forest   10                                                NaN
 4     Eastern Illinois   20                                                NaN
 ..                 ...  ...                                                ...
 882  (11) Kansas State   35                       Alamo Bowl (San Antonio, TX)
 883      East Carolina   20                   Birmingham Bowl (Birmingham, AL)
 884     Arkansas State   44                          GoDaddy Bowl (Mobile, AL)
 885              Loser  Pts                                              Notes
 886         (3) Oregon   20  College Football Playoff National Championship...

 [887 rows x 11 columns],
        1 1.1   Sep 3, 2015  10:00 PM  Thu           (22) Arizona   42  \
 0      2   1   Sep 3, 2015   7:00 PM  Thu             Ball State   48
 1      3   1   Sep 3, 2015   7:30 PM  Thu            Connecticut   20
 2      4   1   Sep 3, 2015   9:30 PM  Thu                   Duke   37
 3      5   1   Sep 3, 2015   6:00 PM  Thu  Florida International   15
 4      6   1   Sep 3, 2015       NaN  Thu           Fresno State   34
 ..   ...  ..           ...       ...  ...                    ...  ...
 883  868  18   Jan 2, 2016  12:00 PM  Sat                Georgia   24
 884  869  18   Jan 2, 2016   6:45 PM  Sat   (11) Texas Christian   47
 885  870  18   Jan 2, 2016  10:15 PM  Sat          West Virginia   43
 886   Rk  Wk          Date      Time  Day                 Winner  Pts
 887  871  19  Jan 11, 2016   8:30 PM  Mon            (2) Alabama   45

     Unnamed: 7            Texas-San Antonio   32  \
 0          NaN  Virginia Military Institute   36
 1          NaN                    Villanova   15
 2            @                       Tulane    7
 3            @              Central Florida   14
 4          NaN            Abilene Christian   13
 ..         ...                          ...  ...
 883          N                   Penn State   17
 884          N                  (15) Oregon   41
 885          N                Arizona State   42
 886        NaN                        Loser  Pts
 887          N                  (1) Clemson   40

                                            Unnamed: 10
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 ..                                                 ...
 883                  TaxSlayer Bowl (Jacksonville, FL)
 884                       Alamo Bowl (San Antonio, TX)
 885                            Cactus Bowl (Tempe, AZ)
 886                                              Notes
 887  College Football Playoff National Championship...

 [888 rows x 11 columns],
        1 1.1  Aug 26, 2016 10:00 PM  Fri               California   51    N  \
 0      2   1  Aug 27, 2016  4:00 AM  Sat               California   51    N
 1     Rk  Wk          Date     Time  Day                   Winner  Pts  NaN
 2      3   2   Sep 1, 2016  7:00 PM  Thu         Central Michigan   49  NaN
 3      4   2   Sep 1, 2016  7:00 PM  Thu               Cincinnati   28  NaN
 4      5   2   Sep 1, 2016  7:00 PM  Thu              Connecticut   24  NaN
 ..   ...  ..           ...      ...  ...                      ...  ...  ...
 898  881  20   Jan 2, 2017  8:50 PM  Mon             (7) Oklahoma   35    N
 899  882  20   Jan 2, 2017  5:00 PM  Mon  (9) Southern California   52    N
 900  883  20   Jan 2, 2017  1:00 PM  Mon            (8) Wisconsin   24    N
 901   Rk  Wk          Date     Time  Day                   Winner  Pts  NaN
 902  884  21   Jan 9, 2017  8:00 PM  Mon              (3) Clemson   35    N

                     Hawaii   31  \
 0                   Hawaii   31
 1                    Loser  Pts
 2             Presbyterian    3
 3         Tennessee-Martin    7
 4                    Maine   21
 ..                     ...  ...
 898            (17) Auburn   19
 899         (5) Penn State   49
 900  (12) Western Michigan   16
 901                  Loser  Pts
 902            (1) Alabama   31

                              ANZ Stadium - Sydney, AUS
 0                                                  NaN
 1                                                Notes
 2      Kelly/Shorts Stadium - Mount Pleasant, Michigan
 3                   Nippert Stadium - Cincinnati, Ohio
 4        Rentschler Field - East Hartford, Connecticut
 ..                                                 ...
 898  Sugar Bowl (Mercedes-Benz Superdome - New Orle...
 899                           Rose Bowl (Pasadena, CA)
 900      Cotton Bowl (AT&T Stadium - Arlington, Texas)
 901                                              Notes
 902  College Football Playoff National Championship...

 [903 rows x 11 columns],
        1 1.1  Aug 26, 2017 Unnamed: 3  Sat       Brigham Young   20  \
 0      2   1  Aug 26, 2017    2:30 PM  Sat      Colorado State   58
 1      3   1  Aug 26, 2017    6:00 PM  Sat              Hawaii   38
 2      4   1  Aug 26, 2017    7:30 PM  Sat  (19) South Florida   42
 3      5   1  Aug 26, 2017   10:00 PM  Sat       (14) Stanford   62
 4      6   1  Aug 27, 2017    4:00 AM  Sun       (14) Stanford   62
 ..   ...  ..           ...        ...  ...                 ...  ...
 896  879  20   Jan 1, 2018    5:00 PM  Mon         (3) Georgia   54
 897  880  20   Jan 1, 2018    1:00 PM  Mon     (14) Notre Dame   21
 898  881  20   Jan 1, 2018   12:00 PM  Mon      South Carolina   26
 899   Rk  Wk          Date       Time  Day              Winner  Pts
 900  882  21   Jan 8, 2018    8:00 PM  Mon         (4) Alabama   26

     Unnamed: 7        Portland State    6  \
 0          NaN          Oregon State   27
 1            @         Massachusetts   35
 2            @        San Jose State   22
 3            N                  Rice    7
 4            N                  Rice    7
 ..         ...                   ...  ...
 896          N          (2) Oklahoma   48
 897          N  (16) Louisiana State   17
 898          N              Michigan   19
 899        NaN                 Loser  Pts
 900          N           (3) Georgia   23

                   LaVell Edwards Stadium - Provo, Utah
 0    Sonny Lubrick Field at Colorado State Stadium ...
 1    Warren McGuirk Alumni Stadium - Amherst, Massa...
 2                 CEFCU Stadium - San Jose, California
 3                        Allianz Stadium - Sydney, AUS
 4                                                  NaN
 ..                                                 ...
 896       Rose Bowl (Rose Bowl - Pasadena, California)
 897  Citrus Bowl (Camping World Stadium - Orlando, ...
 898  Outback Bowl (Raymond James Stadium - Tampa, F...
 899                                              Notes
 900  College Football Playoff National Championship...

 [901 rows x 11 columns],
        1 1.1  Aug 25, 2018   7:30 PM  Sat                Hawaii   43    @  \
 0      2   1  Aug 25, 2018   5:30 PM  Sat         Massachusetts   63  NaN
 1      3   1  Aug 25, 2018   7:00 PM  Sat                  Rice   31  NaN
 2      4   1  Aug 25, 2018  10:00 PM  Sat               Wyoming   29    @
 3     Rk  Wk          Date      Time  Day                Winner  Pts  NaN
 4      5   2  Aug 30, 2018   8:00 PM  Thu    Alabama-Birmingham   52  NaN
 ..   ...  ..           ...       ...  ...                   ...  ...  ...
 898  880  21   Jan 1, 2019   1:00 PM  Tue         (16) Kentucky   27    N
 899  881  21   Jan 1, 2019   1:00 PM  Tue  (11) Louisiana State   40    N
 900  882  21   Jan 1, 2019   5:00 PM  Tue        (5) Ohio State   28    N
 901  883  21   Jan 1, 2019   8:45 PM  Tue            (14) Texas   28    N
 902  884  21   Jan 7, 2019   8:00 PM  Mon           (2) Clemson   44    N

           Colorado State   34  \
 0               Duquesne   15
 1       Prairie View A&M   28
 2       New Mexico State    7
 3                  Loser  Pts
 4         Savannah State    0
 ..                   ...  ...
 898      (13) Penn State   24
 899  (7) Central Florida   32
 900       (9) Washington   23
 901          (6) Georgia   21
 902          (1) Alabama   16

     Sonny Lubick Field at Canvas Stadium - Fort Collins, Colorado
 0    Warren McGuirk Alumni Stadium - Amherst, Massa...
 1                        Rice Stadium - Houston, Texas
 2      Aggie Memorial Stadium - Las Cruces, New Mexico
 3                                                Notes
 4                   Legion Field - Birmingham, Alabama
 ..                                                 ...
 898  Citrus Bowl (Camping World Stadium - Orlando, ...
 899  Fiesta Bowl (State Farm Stadium - Glendale, Ar...
 900       Rose Bowl (Rose Bowl - Pasadena, California)
 901  Sugar Bowl (Mercedes-Benz Superdome - New Orle...
 902  College Football Playoff National Championship...

 [903 rows x 11 columns],
        1 1.1  Aug 24, 2019 Unnamed: 3  Sat          (8) Florida   24    N  \
 0      2   1  Aug 24, 2019        NaN  Sat               Hawaii   45  NaN
 1     Rk  Wk          Date       Time  Day               Winner  Pts  NaN
 2      3   2  Aug 29, 2019        NaN  Thu   Alabama-Birmingham   24  NaN
 3      4   2  Aug 29, 2019        NaN  Thu        Arizona State   30  NaN
 4      5   2  Aug 29, 2019        NaN  Thu        Bowling Green   46  NaN
 ..   ...  ..           ...        ...  ...                  ...  ...  ...
 910  892  21   Jan 3, 2020        NaN  Fri                 Ohio   30    N
 911  893  21   Jan 4, 2020        NaN  Sat               Tulane   30    N
 912  894  21   Jan 6, 2020        NaN  Mon            Louisiana   27    N
 913   Rk  Wk          Date       Time  Day               Winner  Pts  NaN
 914  895  22  Jan 13, 2020        NaN  Mon  (1) Louisiana State   42    N

                Miami (FL)   20  \
 0                 Arizona   38
 1                   Loser  Pts
 2           Alabama State   19
 3              Kent State    7
 4            Morgan State    3
 ..                    ...  ...
 910                Nevada   21
 911  Southern Mississippi   13
 912            Miami (OH)   17
 913                 Loser  Pts
 914           (3) Clemson   25

               Camping World Stadium - Orlando, Florida
 0                     Aloha Stadium - Honolulu, Hawaii
 1                                                Notes
 2                   Legion Field - Birmingham, Alabama
 3                   Sun Devil Stadium - Tempe, Arizona
 4             Doyt Perry Stadium - Bowling Green, Ohio
 ..                                                 ...
 910  Famous Idaho Potato Bowl (Albertsons Stadium -...
 911  Armed Forces Bowl (Amon G. Carter Stadium - Fo...
 912  LendingTree Bowl (Ladd-Peebles Stadium - Mobil...
 913                                              Notes
 914  College Football Playoff National Championship...

 [915 rows x 11 columns],
        1 1.1   Sep 3, 2020  8:00 PM  Thu Alabama-Birmingham   45 Unnamed: 7  \
 0      2   1   Sep 3, 2020  8:00 PM  Thu      South Alabama   32          @
 1      3   1   Sep 5, 2020  1:30 PM  Sat               Army   42        NaN
 2      4   1   Sep 5, 2020  1:00 PM  Sat           Marshall   59        NaN
 3      5   1   Sep 5, 2020  8:00 PM  Sat            Memphis   37        NaN
 4      6   1   Sep 5, 2020  7:30 PM  Sat        North Texas   57        NaN
 ..   ...  ..           ...      ...  ...                ...  ...        ...
 584  568  19  Jan 11, 2021  8:00 PM  Mon        (1) Alabama   52          N
 585   Rk  Wk          Date     Time  Day             Winner  Pts        NaN
 586  569  20  Feb 21, 2021  5:00 PM  Sun     Tarleton State   43          @
 587   Rk  Wk          Date     Time  Day             Winner  Pts        NaN
 588  570  21   Mar 7, 2021  5:00 PM  Sun   New Mexico State   36          N

            Central Arkansas   35  \
 0      Southern Mississippi   21
 1    Middle Tennessee State    0
 2          Eastern Kentucky    0
 3            Arkansas State   24
 4           Houston Baptist   31
 ..                      ...  ...
 584          (3) Ohio State   24
 585                   Loser  Pts
 586        New Mexico State   17
 587                   Loser  Pts
 588             Dixie State   29

                                            Unnamed: 10
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 ..                                                 ...
 584  College Football Playoff National Championship...
 585                                              Notes
 586    Aggie Memorial Stadium - Las Cruces, New Mexico
 587                                              Notes
 588                          Sun Bowl - El Paso, Texas

 [589 rows x 11 columns],
        1 1.1  Aug 28, 2021   2:00 PM  Sat        Fresno State   45 Unnamed: 7  \
 0      2   1  Aug 28, 2021   1:20 PM  Sat            Illinois   30        NaN
 1      3   1  Aug 28, 2021  10:00 PM  Sat      San Jose State   45        NaN
 2      4   1  Aug 28, 2021   9:30 PM  Sat       Texas-El Paso   30          @
 3      5   1  Aug 28, 2021   3:30 PM  Sat                UCLA   44        NaN
 4     Rk  Wk          Date      Time  Day              Winner  Pts        NaN
 ..   ...  ..           ...       ...  ...                 ...  ...        ...
 901  885  19   Jan 1, 2022   5:00 PM  Sat      (7) Ohio State   48          N
 902  886  19   Jan 1, 2022   1:00 PM  Sat  (9) Oklahoma State   37          N
 903   Rk  Wk          Date      Time  Day              Winner  Pts        NaN
 904  887  20   Jan 4, 2022   9:00 PM  Tue        Kansas State   42          N
 905  888  20  Jan 10, 2022   8:00 PM  Mon         (3) Georgia   33          N

           Connecticut    0                                        Unnamed: 10
 0            Nebraska   22                                                NaN
 1       Southern Utah   14                                                NaN
 2    New Mexico State    3                                                NaN
 3              Hawaii   10                                                NaN
 4               Loser  Pts                                              Notes
 ..                ...  ...                                                ...
 901         (10) Utah   45       Rose Bowl (Rose Bowl - Pasadena, California)
 902    (5) Notre Dame   35  Fiesta Bowl (State Farm Stadium - Glendale, Ar...
 903             Loser  Pts                                              Notes
 904   Louisiana State   20          Texas Bowl (NRG Stadium - Houston, Texas)
 905       (1) Alabama   18  College Football Playoff National Championship...

 [906 rows x 11 columns],
        1 1.1  Aug 27, 2022   7:00 PM  Sat        Florida Atlantic   43  \
 0      2   1  Aug 27, 2022   5:00 PM  Sat           Florida State   47
 1      3   1  Aug 27, 2022   4:00 PM  Sat                Illinois   38
 2      4   1  Aug 27, 2022  10:00 PM  Sat                  Nevada   23
 3      5   1  Aug 27, 2022   3:30 PM  Sat        Nevada-Las Vegas   52
 4      6   1  Aug 27, 2022   8:00 PM  Sat          North Carolina   56
 ..   ...  ..           ...       ...  ...                     ...  ...
 910  893  20   Jan 2, 2023  12:00 PM  Mon  (24) Mississippi State   19
 911  894  20   Jan 2, 2023   5:00 PM  Mon          (9) Penn State   35
 912  895  20   Jan 2, 2023   1:00 PM  Mon             (14) Tulane   46
 913   Rk  Wk          Date      Time  Day                  Winner  Pts
 914  896  21   Jan 9, 2023   7:30 PM  Mon             (1) Georgia   65

     Unnamed: 7                Charlotte   13  \
 0          NaN                 Duquesne    7
 1          NaN                  Wyoming    6
 2            @         New Mexico State   12
 3          NaN              Idaho State   21
 4          NaN              Florida A&M   24
 ..         ...                      ...  ...
 910          N                 Illinois   10
 911          N                 (7) Utah   21
 912          N  (8) Southern California   45
 913        NaN                    Loser  Pts
 914          N      (3) Texas Christian    7

                                         Unnamed: 10
 0                                               NaN
 1                                               NaN
 2                                               NaN
 3                                               NaN
 4                                               NaN
 ..                                              ...
 910                                 ReliaQuest Bowl
 911                                       Rose Bowl
 912                                     Cotton Bowl
 913                                           Notes
 914  College Football Playoff National Championship

 [915 rows x 11 columns],
        1 1.1  Aug 26, 2023  5:30 PM  Sat       Jacksonville State   17  \
 0      2   1  Aug 26, 2023  9:00 PM  Sat           Louisiana Tech   22
 1      3   1  Aug 26, 2023  7:00 PM  Sat            Massachusetts   41
 2      4   1  Aug 26, 2023  2:30 PM  Sat          (13) Notre Dame   42
 3      5   1  Aug 26, 2023  7:00 PM  Sat          San Diego State   20
 4      6   1  Aug 26, 2023  8:00 PM  Sat  (6) Southern California   56
 ..   ...  ..           ...      ...  ...                      ...  ...
 924  907  20   Jan 1, 2024  1:00 PM  Mon               (8) Oregon   45
 925  908  20   Jan 1, 2024  1:00 PM  Mon           (25) Tennessee   35
 926  909  20   Jan 1, 2024  8:45 PM  Mon           (2) Washington   37
 927   Rk  Wk          Date     Time  Day                   Winner  Pts
 928  910  21   Jan 8, 2024  7:30 PM  Mon             (1) Michigan   34

     Unnamed: 7          Texas-El Paso   14  \
 0          NaN  Florida International   17
 1            @       New Mexico State   30
 2            N                   Navy    3
 3          NaN                   Ohio   13
 4          NaN         San Jose State   28
 ..         ...                    ...  ...
 924          N           (18) Liberty    6
 925          N              (20) Iowa    0
 926          N              (3) Texas   31
 927        NaN                  Loser  Pts
 928          N         (2) Washington   13

                                         Unnamed: 10
 0                                               NaN
 1                                               NaN
 2                                               NaN
 3                                               NaN
 4                                               NaN
 ..                                              ...

In [127]:
# Look at seasons (adjust index to see specific season)
df_season = dfs_per_season[5]
df_season.head()

,1,1.1,"Aug 24, 2019",Unnamed: 3,Sat,(8) Florida,24,N,Miami (FL),20,"Camping World Stadium - Orlando, Florida"
0,2,1,"Aug 24, 2019",NaN,Sat,Hawaii,45,NaN,Arizona,38,"Aloha Stadium - Honolulu, Hawaii"
1,Rk,Wk,Date,Time,Day,Winner,Pts,NaN,Loser,Pts,Notes
2,3,2,"Aug 29, 2019",NaN,Thu,Alabama-Birmingham,24,NaN,Alabama State,19,"Legion Field - Birmingham, Alabama"
3,4,2,"Aug 29, 2019",NaN,Thu,Arizona State,30,NaN,Kent State,7,"Sun Devil Stadium - Tempe, Arizona"
4,5,2,"Aug 29, 2019",NaN,Thu,Bowling Green,46,NaN,Morgan State,3,"Doyt Perry Stadium - Bowling Green, Ohio"

In [128]:
# Make a copy
scraped_df = dfs_per_season

In [129]:
# Clean data for each DataFrame using loop
for i, season_df in enumerate(scraped_df):
    # Add columns
    season_df.columns = ['Rk', 'Wk', 'Date', 'Time', 'Day', 'Winner', 'Winner Pts', '?', 'Loser', 'Loser Pts', 'Notes']

    # Drop unnecssary columns
    season_df.drop(['Rk', 'Day', '?', 'Notes'], axis=1, inplace=True)

    # Convert 'Winner Pts' and 'Loser Pts' to numeric
    season_df.loc[:, 'Winner'] = season_df['Winner'].str.replace(r'\(\d+\)\s*', '', regex=True)
    season_df.loc[:, 'Loser'] = season_df['Loser'].str.replace(r'\(\d+\)\s*', '', regex=True)

    # Find rows with NaN values (these are from the original dataset so take them out)
    rows_with_nan = season_df[season_df.isna().any(axis=1)]

    # Remove rows with NaN values
    season_df = season_df.dropna()

    # Standardize the winner and loser names (remove rankings)
    season_df['Winner'] = season_df['Winner'].str.replace(r'\(\d+\)\s*', '')
    season_df['Loser'] = season_df['Loser'].str.replace(r'\(\d+\)\s*', '')

    # Insert Season into the dataframe
    season_df.insert(loc=0, column='Season', value=seasons[i])
    dfs_per_season[i] = season_df

    # Drop rows with NaN values
    season_df = season_df.dropna(subset=['Date', 'Time', 'Winner', 'Loser'])

    # Combine the date and time columns into a single column 'DateTime'
    season_df['DateTime'] = pd.to_datetime(season_df['Date'] + ' ' + season_df['Time'], errors='coerce')

    # Drop rows with NaT in 'DateTime'
    season_df = season_df.dropna(subset=['DateTime'])

    # Drop original 'Date' and 'Time' columns
    season_df.drop(['Date', 'Time'], axis=1, inplace=True)

    # Update the dataframe in the list
    dfs_per_season[i] = season_df

/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_df['Winner'] = season_df['Winner'].str.replace(r'\(\d+\)\s*', '')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_df['Loser'] = season_df['Loser'].str.replace(r'\(\d+\)\s*', '')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:31: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  season_df['DateTime'] = pd.to_datetime(season_df['Date'] + ' ' + season_df['Time'], errors='coerce')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_df['Winner'] = season_df['Winner'].str.replace(r'\(\d+\)\s*', '')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_df['Loser'] = season_df['Loser'].str.replace(r'\(\d+\)\s*', '')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:31: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  season_df['DateTime'] = pd.to_datetime(season_df['Date'] + ' ' + season_df['Time'], errors='coerce')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_df['Winner'] = season_df['Winner'].str.replace(r'\(\d+\)\s*', '')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_df['Loser'] = season_df['Loser'].str.replace(r'\(\d+\)\s*', '')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_df['Winner'] = season_df['Winner'].str.replace(r'\(\d+\)\s*', '')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_df['Loser'] = season_df['Loser'].str.replace(r'\(\d+\)\s*', '')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:31: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  season_df['DateTime'] = pd.to_datetime(season_df['Date'] + ' ' + season_df['Time'], errors='coerce')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_df['Winner'] = season_df['Winner'].str.replace(r'\(\d+\)\s*', '')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_df['Loser'] = season_df['Loser'].str.replace(r'\(\d+\)\s*', '')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:31: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  season_df['DateTime'] = pd.to_datetime(season_df['Date'] + ' ' + season_df['Time'], errors='coerce')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_df['Winner'] = season_df['Winner'].str.replace(r'\(\d+\)\s*', '')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_df['Loser'] = season_df['Loser'].str.replace(r'\(\d+\)\s*', '')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:31: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  season_df['DateTime'] = pd.to_datetime(season_df['Date'] + ' ' + season_df['Time'], errors='coerce')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:31: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  season_df['DateTime'] = pd.to_datetime(season_df['Date'] + ' ' + season_df['Time'], errors='coerce')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_df['Winner'] = season_df['Winner'].str.replace(r'\(\d+\)\s*', '')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_df['Loser'] = season_df['Loser'].str.replace(r'\(\d+\)\s*', '')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:31: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  season_df['DateTime'] = pd.to_datetime(season_df['Date'] + ' ' + season_df['Time'], errors='coerce')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_df['Winner'] = season_df['Winner'].str.replace(r'\(\d+\)\s*', '')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_df['Loser'] = season_df['Loser'].str.replace(r'\(\d+\)\s*', '')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:31: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  season_df['DateTime'] = pd.to_datetime(season_df['Date'] + ' ' + season_df['Time'], errors='coerce')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:31: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  season_df['DateTime'] = pd.to_datetime(season_df['Date'] + ' ' + season_df['Time'], errors='coerce')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_df['Winner'] = season_df['Winner'].str.replace(r'\(\d+\)\s*', '')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_df['Loser'] = season_df['Loser'].str.replace(r'\(\d+\)\s*', '')
/var/folders/zm/fr635kq51d35fklpj2hv3s240000gn/T/ipykernel_46813/2381638167.py:31: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  season_df['DateTime'] = pd.to_datetime(season_df['Date'] + ' ' + season_df['Time'], errors='coerce')

In [134]:
# Concatenate dataframes
combined_df = pd.concat(dfs_per_season, ignore_index=True)
combined_df

,Season,Wk,Winner,Winner Pts,Loser,Loser Pts,DateTime
0,2014,1,Akron,41,Howard,0,2014-08-28 19:00:00
1,2014,1,Arizona State,45,Weber State,14,2014-08-28 22:30:00
2,2014,1,Central Michigan,20,Chattanooga,16,2014-08-28 19:00:00
3,2014,1,Louisiana-Monroe,17,Wake Forest,10,2014-08-28 19:02:00
4,2014,1,Minnesota,42,Eastern Illinois,20,2014-08-28 19:00:00
...,...,...,...,...,...,...,...
8261,2024,14,Texas Tech,56,Oklahoma State,48,2024-11-23 15:30:00
8262,2024,14,Utah State,41,San Diego State,20,2024-11-23 15:30:00
8263,2024,14,West Virginia,31,Central Florida,21,2024-11-23 15:30:00
8264,2024,15,Akron,21,Toledo,14,2024-11-26 19:00:00
8265,2024,15,Buffalo,43,Kent State,7,2024-11-26 19:00:00

In [131]:
# Duplicate the Dataframe
df_duplicated = combined_df.copy()

# Swap the information between 'Winner' and 'Loser' columns in the duplicated dataframe
df_duplicated[['Winner', 'Winner Pts', 'Loser', 'Loser Pts']] = combined_df[['Loser', 'Loser Pts', 'Winner', 'Winner Pts']]

# Add a new column 'Win' to indicate if team won (true) or lost (false)
df_duplicated['Win'] = False
combined_df['Win'] = True

# Concatenate the original and duplicated DataFrames
reshaped_df = pd.concat([combined_df, df_duplicated], ignore_index=True)

# Rename columns
reshaped_df = reshaped_df.rename(columns={'Winner': 'Team',
                                        'Winner Pts': 'Points Scored', 
                                        'Loser': 'Opponent', 
                                        'Loser Pts': 'Points Allowed'})

reshaped_df

,Season,Wk,Team,Points Scored,Opponent,Points Allowed,DateTime,Win
0,2014,1,Akron,41,Howard,0,2014-08-28 19:00:00,True
1,2014,1,Arizona State,45,Weber State,14,2014-08-28 22:30:00,True
2,2014,1,Central Michigan,20,Chattanooga,16,2014-08-28 19:00:00,True
3,2014,1,Louisiana-Monroe,17,Wake Forest,10,2014-08-28 19:02:00,True
4,2014,1,Minnesota,42,Eastern Illinois,20,2014-08-28 19:00:00,True
...,...,...,...,...,...,...,...,...
16527,2024,14,Oklahoma State,48,Texas Tech,56,2024-11-23 15:30:00,False
16528,2024,14,San Diego State,20,Utah State,41,2024-11-23 15:30:00,False
16529,2024,14,Central Florida,21,West Virginia,31,2024-11-23 15:30:00,False
16530,2024,15,Toledo,14,Akron,21,2024-11-26 19:00:00,False
16531,2024,15,Kent State,7,Buffalo,43,2024-11-26 19:00:00,False

In [132]:
# Drop problematic rows
reshaped_df = reshaped_df[
    (reshaped_df['Season'] != 'Wk') &
    (reshaped_df['Team'] != 'Loser') &
    (reshaped_df['Opponent'] != 'Pts')
]

reshaped_df.head(50)

,Season,Wk,Team,Points Scored,Opponent,Points Allowed,DateTime,Win
0,2014,1,Akron,41,Howard,0,2014-08-28 19:00:00,True
1,2014,1,Arizona State,45,Weber State,14,2014-08-28 22:30:00,True
2,2014,1,Central Michigan,20,Chattanooga,16,2014-08-28 19:00:00,True
3,2014,1,Louisiana-Monroe,17,Wake Forest,10,2014-08-28 19:02:00,True
4,2014,1,Minnesota,42,Eastern Illinois,20,2014-08-28 19:00:00,True
5,2014,1,Mississippi,35,Boise State,13,2014-08-28 20:00:00,True
6,2014,1,New Mexico State,28,Cal Poly,10,2014-08-28 20:00:00,True
7,2014,1,Northern Illinois,55,Presbyterian,3,2014-08-28 19:00:00,True
8,2014,1,Rutgers,41,Washington State,38,2014-08-28 22:00:00,True
9,2014,1,San Jose State,42,North Dakota,10,2014-08-28 22:00:00,True
10,2014,1,Temple,37,Vanderbilt,7,2014-08-28 22:50:00,True
11,2014,1,Texas A&M,52,South Carolina,28,2014-08-28 18:00:00,True
12,2014,1,Tulsa,38,Tulane,31,2014-08-28 20:00:00,True
13,2014,1,Utah,56,Idaho State,14,2014-08-28 19:30:00,True
14,2014,1,Arizona,58,Nevada-Las Vegas,13,2014-08-29 22:30:00,True
15,2014,1,Brigham Young,35,Connecticut,10,2014-08-29 19:00:00,True
16,2014,1,Colorado State,31,Colorado,17,2014-08-29 21:00:00,True
17,2014,1,Michigan State,45,Jacksonville State,7,2014-08-29 19:30:00,True
18,2014,1,Syracuse,27,Villanova,26,2014-08-29 19:30:00,True
19,2014,1,Texas-San Antonio,27,Houston,7,2014-08-29 21:00:00,True
20,2014,1,Western Kentucky,59,Bowling Green,31,2014-08-29 19:30:00,True
21,2014,1,Air Force,44,Nicholls State,16,2014-08-30 14:00:00,True
22,2014,1,Alabama,33,West Virginia,23,2014-08-30 15:30:00,True
23,2014,1,Alabama-Birmingham,48,Troy,10,2014-08-30 12:00:00,True
24,2014,1,Arkansas State,37,Montana State,10,2014-08-30 19:00:00,True
25,2014,1,Auburn,45,Arkansas,21,2014-08-30 16:00:00,True
26,2014,1,Ball State,30,Colgate,10,2014-08-30 14:00:00,True
27,2014,1,Boston College,30,Massachusetts,7,2014-08-30 15:00:00,True
28,2014,1,Buffalo,38,Duquesne,28,2014-08-30 15:30:00,True
29,2014,1,California,31,Northwestern,24,2014-08-30 15:30:00,True
30,2014,1,East Carolina,52,North Carolina Central,7,2014-08-30 20:00:00,True
31,2014,1,Eastern Michigan,31,Morgan State,28,2014-08-30 18:00:00,True
32,2014,1,Florida State,37,Oklahoma State,31,2014-08-30 20:00:00,True
33,2014,1,Georgia,45,Clemson,21,2014-08-30 17:30:00,True
34,2014,1,Georgia Tech,38,Wofford,19,2014-08-30 12:30:00,True
35,2014,1,Illinois,28,Youngstown State,17,2014-08-30 12:00:00,True
36,2014,1,Indiana,28,Indiana State,10,2014-08-30 12:00:00,True
37,2014,1,Iowa,31,Northern Iowa,23,2014-08-30 12:00:00,True
38,2014,1,Kansas State,55,Stephen F. Austin,16,2014-08-30 19:10:00,True
39,2014,1,Kentucky,59,Tennessee-Martin,14,2014-08-30 12:00:00,True
40,2014,1,Louisiana,45,Southern,6,2014-08-30 19:00:00,True
41,2014,1,Louisiana State,28,Wisconsin,24,2014-08-30 21:15:00,True
42,2014,1,Marshall,42,Miami (OH),27,2014-08-30 15:30:00,True
43,2014,1,Maryland,52,James Madison,7,2014-08-30 15:30:00,True
44,2014,1,Memphis,63,Austin Peay,0,2014-08-30 19:00:00,True
45,2014,1,Michigan,52,Appalachian State,14,2014-08-30 12:00:00,True
46,2014,1,Middle Tennessee State,61,Savannah State,7,2014-08-30 19:00:00,True
47,2014,1,Mississippi State,49,Southern Mississippi,0,2014-08-30 19:30:00,True
48,2014,1,Missouri,38,South Dakota State,18,2014-08-30 15:30:00,True
49,2014,1,Nebraska,55,Florida Atlantic,7,2014-08-30 15:30:00,True

In [136]:
# Sort data by DateTime so everything is synchronized
df = reshaped_df.sort_values("DateTime")
df = df.reset_index(drop=True)
df

,Season,Wk,Team,Points Scored,Opponent,Points Allowed,DateTime,Win
0,2014,1,South Carolina,28,Texas A&M,52,2014-08-28 18:00:00,False
1,2014,1,Texas A&M,52,South Carolina,28,2014-08-28 18:00:00,True
2,2014,1,Akron,41,Howard,0,2014-08-28 19:00:00,True
3,2014,1,Presbyterian,3,Northern Illinois,55,2014-08-28 19:00:00,False
4,2014,1,Eastern Illinois,20,Minnesota,42,2014-08-28 19:00:00,False
...,...,...,...,...,...,...,...,...
16527,2024,14,Air Force,22,Nevada,19,2024-11-23 22:30:00,True
16528,2024,15,Buffalo,43,Kent State,7,2024-11-26 19:00:00,True
16529,2024,15,Akron,21,Toledo,14,2024-11-26 19:00:00,True
16530,2024,15,Toledo,14,Akron,21,2024-11-26 19:00:00,False
16531,2024,15,Kent State,7,Buffalo,43,2024-11-26 19:00:00,False

In [137]:
# Push to CSV file
df.to_csv('./game_results.csv')

In [85]:
teams = df['Team'].unique()
len(teams)

248

In [86]:
print(list(range(14,25)))

[14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [146]:
# create column headers for final df
col = ['Game Number', 'Date', 'Location', 'Opponent', 'Result', 'Passing Completion', 
       'Passing Attempts', 'Passing Percentage', 'Passing Yards', 'Passing TDs',
         'RushingA ttempts', 'Rushing Yards', 'Rushing Average', 'Rushing TDs', 'Offensive Plays', 
         'Offensive Yards', 'Offensive Average', 'First Down Pass', 'First Down Rush', 
         'First Down Penalties', 'First Down Total', 'Penalties', 'Penalty Yards', 'Fumbles', 
         'Interceptions', 'Total Turnovers']

# Standardize team names for URL format
standardized_teams = [team.lower().replace(' ', '-').replace('&', 'and') for team in teams]

# Initialize final DataFrame
final_df = pd.DataFrame()

# Get length of standardized teams
num_teams = len(standardized_teams)
ticker = 0
# Loop over each team
for team in standardized_teams:
    ticker += 1
    print(f"Fetching data for team: {team}")
    print(f'{ticker} / {num_teams} teams scraped')
    team_data = pd.DataFrame()
    
    for year in range(2014, 2025):
        try:
            url = f'https://www.sports-reference.com/cfb/schools/{team}/{year}/gamelog/'
            
            # Fetch data
            season = pd.read_html(url, header=0)[0]
            
            # Clean and format data
            season = season.iloc[1:-1]  # Remove top and bottom summary rows
            season.columns = col  # Set column names
            season['Team'] = team
            season['Season'] = year
            
            # Append to team_data
            team_data = pd.concat([team_data, season], ignore_index=True)
            
            # Add a delay to avoid rate limits
            time.sleep(random.randint(4,5))
        
        except Exception as e:
            print(f"Failed to fetch data for {team} in {year}: {e}")
            continue
    
    # Append team_data to final_df
    final_df = pd.concat([final_df, team_data], ignore_index=True)
    
    # Append team_data to final_df
    final_df = pd.concat([final_df, team_data], ignore_index=True)

Fetching data for team: nevada
1 / 248 teams scraped
Failed to fetch data for nevada in 2014: HTTP Error 429: Too Many Requests
Failed to fetch data for nevada in 2015: HTTP Error 429: Too Many Requests
Failed to fetch data for nevada in 2016: HTTP Error 429: Too Many Requests
Failed to fetch data for nevada in 2017: HTTP Error 429: Too Many Requests
Failed to fetch data for nevada in 2018: HTTP Error 429: Too Many Requests
Failed to fetch data for nevada in 2019: HTTP Error 429: Too Many Requests
Failed to fetch data for nevada in 2020: HTTP Error 429: Too Many Requests
Failed to fetch data for nevada in 2021: HTTP Error 429: Too Many Requests
Failed to fetch data for nevada in 2022: HTTP Error 429: Too Many Requests
Failed to fetch data for nevada in 2023: HTTP Error 429: Too Many Requests
Failed to fetch data for nevada in 2024: HTTP Error 429: Too Many Requests
Fetching data for team: new-mexico
2 / 248 teams scraped
Failed to fetch data for new-mexico in 2014: HTTP Error 429: Too Many Requests
Failed to fetch data for new-mexico in 2015: HTTP Error 429: Too Many Requests
Failed to fetch data for new-mexico in 2016: HTTP Error 429: Too Many Requests
Failed to fetch data for new-mexico in 2017: HTTP Error 429: Too Many Requests
Failed to fetch data for new-mexico in 2018: HTTP Error 429: Too Many Requests
Failed to fetch data for new-mexico in 2019: HTTP Error 429: Too Many Requests
Failed to fetch data for new-mexico in 2020: HTTP Error 429: Too Many Requests
Failed to fetch data for new-mexico in 2021: HTTP Error 429: Too Many Requests
Failed to fetch data for new-mexico in 2022: HTTP Error 429: Too Many Requests
Failed to fetch data for new-mexico in 2023: HTTP Error 429: Too Many Requests
Failed to fetch data for new-mexico in 2024: HTTP Error 429: Too Many Requests
Fetching data for team: southern-methodist
3 / 248 teams scraped
Failed to fetch data for southern-methodist in 2014: HTTP Error 429: Too Many Requests
Failed to fetch data for southern-methodist in 2015: HTTP Error 429: Too Many Requests
Failed to fetch data for southern-methodist in 2016: HTTP Error 429: Too Many Requests
Failed to fetch data for southern-methodist in 2017: HTTP Error 429: Too Many Requests

KeyboardInterrupt:

In [141]:
final_df

,Game Number,Date,Location,Opponent,Result,Passing Completion,Passing Attempts,Passing Percentage,Passing Yards,Passing TDs,...,First Down Rush,First Down Penalties,First Down Total,Penalties,Penalty Yards,Fumbles,Interceptions,Total Turnovers,Team,Season
0,1,2014-08-30,NaN,Southern Utah,W (28-19),30,41,73.2,303,1,...,14,0,30,4,19,1,1,2,nevada,2014
1,2,2014-09-05,NaN,Washington State,W (24-13),12,21,57.1,110,0,...,10,3,17,9,90,0,0,0,nevada,2014
2,3,2014-09-13,@,Arizona,L (28-35),29,39,74.4,321,3,...,8,0,25,8,74,0,0,0,nevada,2014
3,4,2014-09-27,@,San Jose State,W (21-10),10,18,55.6,64,0,...,12,2,16,8,56,0,0,0,nevada,2014
4,5,2014-10-04,NaN,Boise State,L (46-51),23,43,53.5,306,3,...,6,3,24,3,22,0,4,4,nevada,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,8,2015-10-31,NaN,Tulsa,L (31-40),23,46,50.0,322,4,...,7,2,23,1,10,1,1,2,southern-methodist,2015
282,9,2015-11-06,NaN,Temple,L (40-60),18,30,60.0,212,1,...,6,4,20,5,53,1,1,2,southern-methodist,2015
283,10,2015-11-14,@,Navy,L (14-55),9,24,37.5,124,1,...,11,0,15,4,45,0,2,2,southern-methodist,2015
284,11,2015-11-21,NaN,Tulane,W (49-21),18,25,72.0,195,0,...,11,0,21,14,123,0,0,0,southern-methodist,2015
285,12,2015-11-28,@,Memphis,L (0-63),5,22,22.7,64,0,...,6,3,10,4,60,4,1,5,southern-methodist,2015